html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

ul li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

button {
  border-style: none;
}

.nav-menu {
  left: -100%;
  transition: left 0.5s;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
}

.close-button {
  top: 30px;
  right: 40px;
  position: absolute;
  color: #e5e5e5;
  font-size: 20px;
  text-shadow: 1px 1px 1px #67798e;
}

.menu-out {
  left: 0;
}

.menu {
  display: flex;
  flex-basis: 50%;
  padding: 5px;
}

.menu-logo {
  display: flex;
  flex: 1;
  padding: 24px 36px 24px 24px;
  margin: 0;
}

.menu-logo a {
  width: 90px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.menu-button {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

form ul {
  margin: 0;
}

.nav-menu ul {
  margin-top: 108px;
  margin-left: 5%;
}

.menu-button ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  margin: 0;
}

form ul li {
  margin: 24px;
}

.menu-button li {
  align-self: center;
  padding: 1px;
}

.bar {
  background-color: rgb(32, 14, 14);
  height: 0;
  width: 16px;
  left: 4px;
  top: 17px;
  border-radius: 5px;
  border: 2px solid #fff;
}

/* ------- hero - section  ------ */

.hero {
  display: flex;
  background-image: url(./images/one.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 58px 24px;
  min-height: 85vh;
  justify-content: center;
  background-position: center;
  color: #172b4d;
}

.hero .headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.place {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 35px;
  color: #172b4d;
}

.primary h1 {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  height: 192px;
  left: 24px;
  top: 64px;
}

.primary span {
  color: #247a56;
}

.support {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 20px;
  font-size: 20px;
  line-height: 28px;
}

.social ul {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  padding: 0;
}

.open a {
  background-color: #247a56;
  border-radius: 2px;
  color: white;
  padding: 12px;
  font-size: 17px;
}

.resume a {
  background-color: #247a56;
  border-radius: 2px;
  color: white;
  padding: 12px;
  margin: 5px 4px;
  font-size: 17px;
}

.social li a {
  font-size: 20px;
  padding: 0 10px;
  color: #505f79;
}

/* ----- Recent Section ----- */

.recent_title {
  display: flex;
  justify-content: center;
}

.recent_title h1 {
  width: 327px;
  height: 97px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 24px 0;
}

.cards {
  display: grid;
  align-content: center;
  padding: 40px 24px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 32px 24px;
}

.card {
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 327px;
  border: 1px #ebf0ee solid;
  border-radius: 10px;
  padding: 0;
}

.card h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 16px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  height: 100%;
  width: 80%;
  margin: 10px auto;
  border: 1px #323333 solid;
  border-radius: 10px;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  overflow: auto;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-header .close-butt {
  cursor: pointer;
  border: none;
  align-self: flex-end;
  position: absolute;
  margin: 22px;
  background: none;
  font-size: 35px;
}

.portfolio_snapshot {
  width: 100%;
  background-image: url(/images/Snapshoot\ Portfolio.png);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.title {
  text-align: left;
  padding: 10px;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
}

.pop_items ul {
  display: flex;
  justify-content: left;
  padding: 10px;
}

.pop_items ul li a {
  background-color: #587469;
  border-radius: 2px;
  padding: 12px 8px;
  margin: 0 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.pop_paragraph {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.pop_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pop_button .see i {
  color: #fff;
}

.content {
  padding: 20px 0;
  background-color: white;
  border-radius: 10px;
}

.content ul {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  padding: 10px;
}

.sane {
  height: 200px;
  background-color: #ebf0ee;
  border-radius: 10px 0;
  background-position: center;
}

.open {
  display: flex;
  justify-content: center;
  padding: 29px 0 0 0;
}

.content li a {
  background-color: #587469;
  border-radius: 2px;
  padding: 12px 8px;
  margin: 0 4px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
}

/* --------- About ------- */

.about {
  background-image: url(./images/about.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about p {
  text-align: center;
  padding: 24px 12px;
  font-size: 20px;
  color: #172b4d;
  line-height: 32px;
}

.skill {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  gap: 24px;
}

.about h1 {
  font-size: 40px;
}

.resume {
  justify-content: center;
  display: flex;
  margin: 24px 0 59px 0;
}

.weight {
  width: 327px;
  height: 350px;
  background-color: #575757;
  border: 1px #a0a0a0 solid;
  border-radius: 10px;
}

.featured {
  display: grid;
  justify-content: center;
  padding: 180px 80px 0 80px;
}

.language {
  background-image: url(./images/lang.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.frame-works {
  background-image: url(./images/frameworks.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.skills {
  background-image: url(./images/skills.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.weight h1 {
  color: #fff;
  font-size: 24px;
  line-height: 34px;
  padding: 10px;
}

.cores {
  padding: 0;
}

.weight ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.weight li {
  margin: 12px 0;
}

.weight li a {
  background-color: #fff;
  border-radius: 2px;
  padding: 10px;
  margin: 10px 4px;
  color: #247a56;
  font-size: 12px;
  font-weight: 600;
}

.nav-menu ul li a {
  width: 66.93%;
  color: #3a4a42;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

/* --------- Contact Us ------- */

.contact_us {
  background-image: url(./images/about.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 24px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 20px 24px;
}

.info p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 327px;
  height: 363px;
}

.message {
  padding: 0;
  margin: 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.names {
  display: flex;
  gap: 24px;
}

.names ul {
  width: 100%;
}

.names ul li {
  padding: 0;
  margin: 0;
}

.inner_one {
  width: 100%;
  margin: 0;
}

.inner_two {
  width: 100%;
  margin: 0;
}

#mobile {
  display: flex;
  margin: 58px 0 0 0;
}

.contact p {
  font-size: 40px;
  line-height: 52px;
  padding: 0;
}

#desktop {
  display: none;
}

input {
  width: 100%;
}

#full_name {
  padding: 15px 16px;
  font-size: 15px;
  line-height: 24px;
}

#email {
  padding: 15px 16px;
  font-size: 15px;
  line-height: 24px;
}

#message {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  padding: 12px;
  height: 114px;
  width: 100%;
  color: #091e42;
}

.get {
  display: flex;
  justify-content: center;
}

#get_in_touch {
  background-color: #247a56;
  color: white;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 12px;
}

.social_footer {
  display: flex;
  justify-content: center;
}

.social_footer ul {
  display: flex;
  justify-content: center;
  width: fit-content;
  letter-spacing: 5px;
}

.social_footer ul li a {
  padding: 0 10px;
  color: #505f79;
  font-size: 20px;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  padding-bottom: 100px;
  margin-top: 17px;
  color: #42526e;
}

@media only screen and (min-width: 992px) {
  /* -------- Header -------- */

  section {
    padding: 0 135px;
    margin: 0;
    width: 100%;
  }

  .menu {
    display: none;
  }

  /* --------- navigation menu ------- */

  .nav-menu {
    position: static;
    display: flex;
    justify-content: center;
  }

  .close-button {
    display: none;
  }

  .nav-menu ul {
    display: flex;
    width: fit-content;
    margin: 20px 0;
    position: absolute;
  }

  .nav-menu li {
    padding: 0 20px;
    font-size: 20px;
    background-color: #fff;
  }

  .nav-menu a {
    text-decoration: none;
    color: #172b4d !important;
    font-size: 16px !important;
  }

  /* --------- hero section ------- */

  .hero {
    min-height: 100vh;
    padding: 150px 320px;
  }

  .place {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  h1 {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 35px;
    color: #172b4d;
  }

  .primary h1 {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
  }

  .primary span {
    color: #247a56;
  }

  .support {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px 80px;
  }

  .support p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #172b4d;
    margin: 58px 0;
  }

  /* -------- social ------- */

  .social ul {
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 5px;
  }

  .open a {
    background-color: #237653;
    border-radius: 2px;
    color: white;
    padding: 12px;
    margin: 5px 4px;
    font-size: 17px;
  }

  .resume a {
    background-color: #247a56;
    border-radius: 2px;
    color: white;
    padding: 12px;
    margin: 5px 4px;
    font-size: 17px;
  }

  .social li a {
    padding: 0 10px;
  }

  /* ---- My Recents Works ------ */

  .recent_works {
    padding: 60px 70px;
  }

  .recent_title {
    margin: 52px 0;
    display: flex;
    width: 100%;
  }

  .recent_title h1 {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px 24px;
  }

  .card {
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    border: 2px #ebf0ee solid;
    border-radius: 10px;
    padding: 0;
  }

  .card h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }

  .sane {
    height: 252px;
    background-color: #ebf0ee;
    border-radius: 0;
    background-position: center;
  }

  .modal {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal_info {
    position: relative;
  }

  .pop_button {
    position: absolute;
    top: 10px;
    right: 0;
  }

  .content {
    background-color: white;
    border-radius: 10px;
  }

  .open {
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  /* ------- About Myself ------ */

  .about {
    flex-direction: column;
    width: 100%;
    padding: 164px 142px 164px 143px;
  }

  .about h1 {
    font-size: 40px;
  }

  .about_info {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .about p {
    width: 920px;
    align-self: center;
    margin: 24px 0;
  }

  .resume {
    justify-content: center;
    display: flex;
  }

  .skill {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .weight h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  /* ------- Contact Us ------ */

  .contact-wrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info p {
    width: 463px;
    height: 256px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 0 135px;
    line-height: 52px;
    padding: 0;
  }

  #mobile {
    display: none;
  }

  #desktop {
    display: flex;
    margin: 0 135px 0 0;
  }

  input {
    background: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
  }

  textarea {
    background: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
  }

  #name {
    padding: 15px 16px;
    width: 100%;
    height: 48px;
    margin: 0;
    color: #6b778c;
  }

  #last_name {
    padding: 15px 16px;
    width: 100%;
    height: 48px;
    margin: 0;
    color: #6b778c;
  }

  #mail {
    padding: 15px 16px;
    height: 48px;
    width: 100%;
    color: #6b778c;
  }

  #msg {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    height: 114px;
    width: 100%;
    color: #091e42;
    padding: 15px 16px;
  }

  #touch {
    background-color: #247a56;
    color: white;
    padding: 12px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  footer {
    padding: 25px 0;
    border-top: 1px solid #dfe1e6;
  }

  .social_footer {
    display: flex;
    justify-content: center;
  }

  .social_footer ul {
    display: flex;
    justify-content: center;
    width: fit-content;
    letter-spacing: 5px;
  }

  .social_footer ul li a {
    padding: 0 10px;
    color: #505f79;
    font-size: 20px;
  }

  .email {
    display: none;
  }
}
